#container{
    margin: 0 auto;
    width: 70%;
    background-color: #e5ecea;
    padding: 0px 40px 30px 40px;
}

#title {
    text-align: center;
    color: white;
    font-size: 48px;
    font-family: 'Signika', sans-serif;
    background-color: #05003c;
    padding: 10px;
    margin-bottom: 30px;
}

#section {
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: 'Signika', sans-serif;
    background-color: #008CBA;
    padding: 10px;
    margin-bottom: 30px;
}


.input {
    font: 13px Arial, Helvetica, sans-serif;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    padding: 8px;
    box-sizing: border-box;
    outline: none;
}

.input:focus {
    border: 1px solid #008CBA;
}


.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    margin-left: 5px;
    font-weight: bold;
}
.button:hover {
    background-color: #05003c;
}

#button-add {
    float : right;
}

#button-logout {
    float : right;
}

#user-section {
    float : right;
}

#user-name {
    float : right;
}

#user-roles {
    float : right;
}

th {
    background-color: #008CBA;
    color: white;
}
